{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "function-paren-newline": ["off", "never"],
    "implicit-arrow-linebreak": ["off", "never"]
  }
}
